In [1]:
import pandas as pd
import numpy as np

In [2]:
my_df = pd.read_csv('dog_data_short.csv')
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [11]:
#grab row method1 location
my_df.loc[3]

Breed             MIXED
Color       BLACK/BROWN
DogName           ARROW
OwnerZip          15104
Name: 3, dtype: object

In [4]:
#grab row method2 index location
my_df.iloc[3]

Breed             MIXED
Color       BLACK/BROWN
DogName           ARROW
OwnerZip          15104
Name: 3, dtype: object

In [12]:
#specific points(rows, columns)
my_df.loc[1, 'DogName']

'TACODA'

In [15]:
#selecting several different points from several different rows
#subsets
#my_df.loc[['row','row'], ['cloumn','cloumn']]
my_df.loc[[0,2,3,4],['DogName','Breed','Color']]

   DogName                Breed        Color
0  CHARLEY             COCKAPOO        BROWN
2     EICH        BELG MALINOIS      BRINDLE
3    ARROW                MIXED  BLACK/BROWN
4   OAKLEY  AM PIT BULL TERRIER  WHITE/BROWN