In [1]:
import pandas as pd
import numpy as np

In [3]:
my_series = [4, 2, 10, 33, 42]
my_var = pd.Series(my_series)
my_var

0     4
1     2
2    10
3    33
4    42
dtype: int64

In [4]:
my_var[1]

2

In [5]:
my_index = ["A", "B", "C", "D", "E"]
my_var2 = pd.Series(my_series, index=my_index)
my_var2

A     4
B     2
C    10
D    33
E    42
dtype: int64

In [8]:
my_var2["D"]

33

In [9]:
my_var2[3]

33

In [10]:
#key value Dictionary

In [11]:
bikes = {"Ducati":13, "Kawasaki":9, "BMW":25, "KTM":55}
my_var3 = pd.Series(bikes)
my_var3

Ducati      13
Kawasaki     9
BMW         25
KTM         55
dtype: int64

In [12]:
my_var3["Kawasaki"]

9